* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }

.desappearsettings{
    padding-left:100px;
    opacity:1;
}
.select1{
    opacity:1;
    padding-left: 400px
}
  .select{
    padding-left:400px;
    opacity:0;
  }
  
  .treetable{
    display:flex;
    flex-direction:row;
  }
 
  .rightcolumn {

    width: 75%;
  
    padding-left: 30px;
  }
  .treenone{
    opacity:0;
    padding-top:30px;
 
    width: 25%;
}
.treenone{
  opacity:0;
}
.displaytable {

  width: 75%;

  padding-left: 100px;
}
.displaytree{
  width:35%;
  padding-left:400px;
 
}
.tablenone{
  display:none;
}
 