@mixin theme($k ) { 
          @if $k == 4 { background-color:rgb(25, 60, 163); transition:  1s}
 
  }
  .deleteset{
    @for $k from 1 through 5 {
 
            .btn-#{$k}{  
                    @include theme($k); 
            }
  }
}
.btn-2{
    background-color:red;

     
}
.deleteset{
    padding-left: 300px;
    width: 100wh;
    padding-bottom: 20px;  
}