 
 .treetablemincont{
    display: flex;
    flex-direction:row;
 }
.treetablemin{
  
    opacity: 1;
 
}
.treenone{
    opacity:0;
}
.desapear{
    opacity: 0.2;
    transition: opacity 1s;
}
.checked{
    width:100px;
}
.desapearsettings{
    opacity: 1;
    transition: opacity 1s;
}
.select {
    opacity: 0; 
   }