.pagbtn{
    padding-left: 5px;
}

.green{
    background-color:green
}
.white{
    background-color:white
}

  .s {
    overflow: hidden;
 
    transition : transform 0.8s;;
}
.s1 {
    transform: rotate(360deg);
 
}